@import url('https://fonts.googleapis.com/css2?family=Jost:ital@0;1&family=Pacifico&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --color-primary:rgb(0, 107, 255);
  --color-secondary:rgb(254,215,0);
  --color-info:rgb(244,44,55);
  --color-dark-primary:rgb(15,23,42);
  --color-dark-secondary:rgb(12,20,37);
  --color-dark-light:rgb(43,46,53);
  --color-dark-text-primary:rgb(201,203,208);
  --font-primary: "Jost", "sans-serif";
  --font-secondary:"Poppins","sans-serif";
  --font-unique:"Pacifico", "cursive";

}

body{
  font-family: Poppins,sans-serif;
}
button:hover{
  cursor: pointer;
}

.product-card:hover .button-group{
  right: 0;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

.no-scrollbar {
  overflow: auto;
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* Internet Explorer & Edge */
}

.no-scrollbar::-webkit-scrollbar {
  display: none; /* Chrome, Safari */
}

.shadow_primary{
  box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
}

